html {
    height: 100%;
}

body {
    background-color: green !important; 
    margin: 10px;
    min-height: 100%;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 300px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 1px 0 #000;
    letter-spacing: 1px;
}

.inactive {
    display: none;
}

.inactive-button {
    opacity: 0.5;
}

button {
    color: white;
    background-color: green;
    border: solid 1px white;
    font-size: 20px;
    padding: 10px;
}

button:focus {
    outline: 0;
}

.input-text {
    width: auto;
    font-size: 20px;
    background-color: green;
    border: solid 1px white;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding:10px;
}

::placeholder {
    color: white !important;
    opacity: 0.3;
}

.team-names{
    
}

.points{
    margin-top: 40px;
    margin-bottom: 40px;
}

.error-input {
    color: red;
    text-shadow: 1px 1px 1px white;
}

td, th {
    text-align: center !important;
    border: solid 1px white;
}

#second-page{
    width: 300px;
    height: 420px;
}

.points-table{
    width: 100%;
    height: 100%;
}

img{
    width:25%;
}